/* Define fonts and colors */
:root {
  --font-title: 'Road Rage', sans-serif;
  --font-body: 'Road Rage', sans-serif;
  --font-weight: 400;
  --font-style: normal;
  --primary-color: #000000;
}

/* Apply global styles */
body {
  margin: 0;
  font-family: var(--font-body), sans-serif;
  color: black; /* Text color */
}

/* Title styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title), sans-serif;
  color: black;
  margin: 0;
}

/* Header styles */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  padding: 20px;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}


.app-background {
  background-image: url('./assets/home_background.png'); /* Your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;/* Adjust duration for speed */
}